$color-brand: #e22222;
@import '~taro-ui/dist/style/index.scss';

.block-center {
    display: block;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.full-page {
    width: 100%;
    height: 100%;
}
.abs {
    position: absolute;
}
.abs-full-page {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
